.DS_Store
*.pyc
*.npy
*.pth
*.h5
*.hdf5
*.ckpt

*.m
*.m~
*.png
*.zarr

*/.ipynb_checkpoints
*/.vscode
*/.venv
*/cache
*/matlab_code
*/results
*/tests
*/experiments
*/weights
*/wandb
*/ToolsForRecon

**/__pycache__
**/.pytest_cache
**/experiments
**/tests
**/wandb
**/results